#projects {
  padding-inline: 163px;
  padding-bottom: 144px;
  padding-top: 72px;

  background-color: var(--gray-500);

  header h4 {
    color: var(--main-red);
  }
}

.card-project {
  padding: 12px 12px 17px 12px;
  
  background-color: var(--gray-400);

  border-radius: 12px;

  img {
    max-width: 100%;

    border-radius: 8px;
    margin-bottom: 20px;
  }

  h5 {
    color: var(--gray-100);
    opacity: 1;

    margin-bottom: 8px;
  }

  p {
    color: var(--gray-200);
    font: var(--text-sm);
  }
}

.card-project:hover {
  border: 2px solid var(--gray-300);
}
